<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h3>User Details</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>First Name: <%= @user.first_name %></p>
      <p>Last Name: <%= @user.last_name %></p>
    </div>
  </div>
</div>
